#root {
  margin: 0 auto;
  padding: 40px;
  width: 880px;  
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

html {
  scrollbar-gutter: stable;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li .delete {
  color: red;
  cursor: pointer;
}
input {
  cursor: pointer;
}
input:checked + span {
  text-decoration: line-through;
}
